<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="variable1" value="${newline}date：	${date}${newline}level：	${level}${newline}logger：	${logger}${newline}machinename：	${machinename}
${newline}message：	${message}${newline}appdomain：	${appdomain}${newline}assembly-version：	${assembly-version}${newline}basedir：	${basedir}
${newline}callsite：	${callsite}${newline}callsite-linenumber：	${callsite-linenumber}${newline}counter：	${counter}${newline}nlogdir：	${nlogdir}
${newline}processid：	${processid}${newline}processname：	${processname}${newline}specialfolder：	${specialfolder}
${newline}stacktrace: ${stacktrace}${newline}-----------------------------------------------------------" />
  <targets>
    <target xsi:type="ColoredConsole" name="console" />
    <target xsi:type="Debugger" name="debugger" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
    <target xsi:type="File" name="error_file"
                    fileName="${basedir}/Logs/Error/${shortdate}/error.txt" maxArchiveFiles="1"
                    layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target xsi:type="File" name="file2" fileName="${basedir}/Logs/Error/${shortdate}/error.txt" maxArchiveFiles="2" archiveAboveSize="1024000" layout="${variable1}" />
  </targets>
  <rules>
    <!--<logger name="*" writeTo="console" />-->
    <logger name="*" minlevel="Trace" writeTo="debugger,error_file,console" />
    <logger name="*" minlevel="Error" writeTo="file2" />
  </rules>
</nlog>